---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle:string = "About Me";

const identity = {
  firstName: "Israel",
  country: "USA",
  occupation: "Software Engineer",
  hobbiesAndInterests: ["Running", "Philosphy", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>

	<h1>{pageTitle}</h1>
	<h2>Software Engineer with a Passion for Learning</h2>
	
	<p>Hello! My name is {identity.firstName} and I am a Software Engineer. I have a deep passion for learning new technologies and improving my skills. I believe that continuous learning is the key to personal and professional growth.</p>
	
	<p>Besides my interest in technology, I also have a keen interest in Philosophy. I find it fascinating to explore fundamental questions about existence, reality, and knowledge. It helps me to think critically and understand different perspectives.</p>
	
	<p>Here are a few more facts about me:</p>
	<ul>
		<li>I live in {identity.country}.</li>
		<li>Currently, I work as a {identity.occupation}.</li>
		{identity.hobbiesAndInterests.length >= 2 && 
		<li>Two of my hobbies and interests are: {identity.hobbiesAndInterests[0]} and {identity.hobbiesAndInterests[1]}</li>
		} 
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
