---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
import Tags from "../components/Tags.astro";
const allPosts = await getCollection("posts");
const pageTitle:string = "My Blog"
const tagCounts = allPosts.reduce((acc: { [key: string]: number }, post) => {
  post.data.tags.forEach(tag => {
    acc[tag] = (acc[tag] || 0) + 1;
  });
  return acc;
}, {});
const uniqueTags = Object.keys(tagCounts);
const PageTitle = "Tag Index";

function getGreyColor(count: number) {
  const maxCount = Math.max(...Object.values(tagCounts));
  const intensity = Math.floor((1-count / maxCount) * 255);
  return `rgb(${intensity}, ${intensity}, ${intensity})`;
}
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="my-4 text-4xl">{pageTitle}</h1>
	<Tags />
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		{
			allPosts.map((post)=>
				<Blogpost url={`/posts/${post.slug}/`} title={post.data.title} />
			)
		}
	</ul>
</BaseLayout>
