---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
<h1 class="my-4 text-4xl">{frontmatter.title}</h1>
<div class="flex-wrap">
    {frontmatter.tags.map((tag: string) => (
    <a href={`/tags/${tag}`} class="max-w-fit m-1 rounded-md px-4 py-2 text-sm text-nowrap text-gray-500 dark:text-gray-400 bg-neutral-200 dark:bg-neutral-700 hover:bg-neutral-300 dark:hover:bg-neutral-600 inline-block">
        <p>
            {tag}
        </p>
    </a>))}
</div>
<p>Published on {frontmatter.pubDate}</p>
<p>Written by {frontmatter.author}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
</BaseLayout>